
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/*@import url('/font-awesome-4.7.0/css/font-awesome.css');*/
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/*
* Style tweaks
* --------------------------------------------------
*/


/*
 * Custom styles
 */





body {
	color: #5a5a5a;
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
}
.parallax-section {
	background-attachment: fixed!important;
}
.btn-capsul {
	border-radius: 30px;
}
.btn-aqua {
	background: orange;
	color: red;
}
.btn-aqua:hover {
	background: #10629b;
	color: #fff;
}
.btn-dark-blue {
	background: #0C242E;
	color: #fff;
}
.btn-dark-blue:hover {
	background: #063d28;
	color: #fff;
}
.btn-transparent-white {
	border: 2px solid #fff;
	color: #fff;
}
.btn-transparent-orange {
	border: 2px solid orange;
	color: orange;
}
.btn-transparent-orange:hover, .btn-transparent-orange:focus {
	background: rgba(255,215,0,0.7);
	color: #fff;
}
.btn-transparent-white:hover, .btn-transparent-white:focus {
	background: #fff;
	color: orange;
}
.relative-box {
	position: relative
}
section {
	float: left;
	width: 100%;
	padding: 80px 0;
}


/* TOP HEADER
-------------------------------------------------- */


.navbar.top-bar {
	border-radius: 0;
	padding: 16px 0;
	z-index: 16;
}
.navbar-toggler {
	border: 1px solid #fff;
	color: #fff;
	position: absolute;
	right: 21px;
}
.sps {
	padding: 1em .5em;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.25s ease;
	width: 100%;
}
.sps--abv {
	background-color: transparent;
	color: #000;
}
.sps--blw {
	background-color: #fff;
	color: saddlebrown;
}
.top-bar a.navbar-brand {
	color: #fff;
	font-size: 26px;
	font-weight: 800;
	padding: 5px 0 0 10px;
	text-transform: uppercase;
}
.sps--blw.top-bar a.navbar-brand {
	color: #000;
}
.top-bar a.navbar-brand span {
	color: orange;
}
.top-bar .nav-link {
	color: saddlebrown;
	font-size: 16px;
	font-weight: 500;
	padding: 12px 18px!important;
}
.sps--blw.top-bar .nav-link {
	color: saddlebrown;
}
.top-bar .navbar-nav .nav-item {
	margin: 0
}
.top-bar .nav-link:hover, .top-bar .nav-item.active a {
	color: orange;
	border-bottom: 2px solid orange;
	border-radius: 0;
	background:
}
.sps--blw.top-bar .nav-link:hover, .sps--blw.top-bar .nav-item.active a {
	color: orange;
	border-bottom: none;
	border-radius: 0;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/*Swiper*/
.swiper-container {
	width: 100%;
	height: 100vh;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.main-slider .slider-bg-position {
	background-size: cover!important;
	background-position: center center!important;
}
.main-slider .swiper-button-prev, .main-slider .swiper-button-next {
	background-image: none!important;
	color: #fff;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
.main-slider h2 {
	color: #fff;
	font-size: 54px;
	line-height: 59px;
	padding: 0 19%;
	text-transform: uppercase;
}
.main-slider .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	background: rgba(255,255,255,0.9);
}
.main-slider .swiper-pagination-bullet-active {
	background: orange;
}
/* SERVICE SECTION
-------------------------------------------------- */

.service-sec .heading {
	float: left;
	width: 100%;
	margin-bottom: 70px;
	text-align:center;
}
.service-sec h2 {
	display: block;
	text-transform: capitalize;
	font-weight: 600;
	color: orange;
	font-size: 32px;
}
.service-sec h2 small {
	color: #222;
	display: block;
	font-size: 22px;
	margin-bottom: 18px;
}
.service-sec i {
	border: 1px solid orange;
	border-radius: 2px;
	font-size: 25px;
	padding: 12px 0;
	width: 52px;
	color: orange;
	margin-bottom: 20px;
}
.service-sec h3 {
	font-size: 23px;
	font-weight: 600;
}
.service-sec p {
	line-height: 22px;
	margin-top: 13px;
	padding: 0 21px;
}
.service-sec .service-block {
	margin-top: 30px;
}

/* ABOUT SECTION
-------------------------------------------------- */
.about-sec {
	background: url('https://ae01.alicdn.com/kf/HTB1l0YKJVXXXXbnXpXXq6xXFXXXA/10X10ft-thin-vinyl-photography-backgrounds-Computer-Printed-bookcase-Photography-backdrops-for-Photo-studio.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	position: relative;
}
.about-sec:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255,215,0,0.3);
	top: 0;
	left: 0;
}
.about-sec h2 {
	font-size: 55px;
	font-weight: 800;
	margin-top: 25%;
}
.about-sec h2 small {
	display: block;
	font-size: 24px;
	margin-bottom: 15px;
	padding-left: 10px;
}
.about-sec p {
	font-size: 16px;
}


.action-sec{width:100%; float:left; background:#222}
.action-box{float:left; width:100%; text-align:center;}
.action-box h2{color:#fff; font-size:20px;}
/**
 * Swiper 3.4.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: October 16, 2016
 */




@media (min-width: 768px){
.circle-tile {
    margin-bottom: 30px;
}
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}

/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

 .dark-blue {
    background-color: #34495e;
}

.green {
    background-color: #16a085;
}



.orange {
    background-color: #f39c12;
}


 .text-dark-blue {
    color: #34495e;
}

.text-green {
    color: #16a085;
}
 color: #2980b9;
}

.text-orange {
    color: #f39c12;
}


.text-faded {
    color: rgba(255,255,255,0.7);
}



.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-description {
    text-transform: uppercase;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}

.circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.modal-content{

    padding: 20%;
}


.issuedb{

    background: #bdc3c7;
}

.fa-user-circle-o{

padding: 2%;
  font-size: 15em;
color: #2c3e50;


}

.all{

    padding: 20%;
}

.sign-sec {
    background: url('../images/login.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    position: relative;
}


.w3-bar-item{

color:#8b4513;

}

.w3-blue{
    background-color:#ffa500;
}

td{
    color:#8b4513;
}

.navbar-inverse{

     background-color:#8b4513;
}

.navbar-brand{

	color:white;}


